Package: firmwarenator
Version: __version__
Section: utils
Priority: optional
Architecture: __arch__
Installed-Size: __size__
Depends: bash, cpio, squashfs-tools, findutils
Recommends: gzip, bzip2, xz-utils, zstd, ruckusrd
Replaces: ruckusrd (<< 0.18.0-1)
#Breaks: ruckusrd (<< 0.18.0-1)
Maintainer: Michael D Labriola <veggiemike@sourceruckus.org>
Homepage: https://github.com/sourceruckus/firmwarenator
Description: Firmwarenator - a magical machine-specific fw.img creator.
 Firmwarenator is a utility for creating a fw.img file containing all
 the firmware required for the host system.
